<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<section class="deneb_cta">
	<div class="container">
		<div class="cta_wrapper">
			<div class="row align-items-center">
					<div class="cta_content">
						<h3>Acerca de nosotros</h3>
						<p>Somos una pequeña Pyme dedicada al rubro de la óptica. Con productos de calidad y servicios excelentes, llevamos varios años brindando atención especializada. Confía en nosotros para cuidar de tu salud visual y encontrar las mejores opciones en lentes y monturas. ¡Bienvenido/a a nuestra óptica de confianza!</p>
					</div>
				
			</div>
		</div>
	</div>
</section>
<footer class="deneb_footer">
	<div class="widget_wrapper" style="background-color: #231f20;">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<div class="widget widegt_about">
						<div class="widget_title">
							<img src="images/LOGO-1.png" class="img-fluid" alt="">
						</div>
						<p style="margin-left: 2%;">Nuestras redes sociales:</p>
						<ul class="social">
							<li><a href="https://goo.gl/maps/hBRwmfnupFBpeSfw8" target="_blank"><i class="fas fa-map-marker-alt"></i></a></li>
							<li><a href="https://api.whatsapp.com/send?phone=56992969933&text=%2AINSTAGRAM%2A" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
							<li><a href="https://www.instagram.com/optica_rois.cl/" target="_blank"><i class="fab fa-instagram" ></i></a></li>
                        </ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="widget widget_link">
						<div class="widget_title">
							<h4>Links</h4>
						</div>
						<ul>
							<li><a href="/" style="text-decoration: none;">Inicio</a></li>
							<li><a href="/login" style="text-decoration: none;">Iniciar Sesión</a></li>
							<li><a href="/register" style="text-decoration: none;">Registrarse</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="widget widget_contact">
						<div class="widget_title">
							<h4>Contáctanos</h4>
						</div>
						<div class="contact_info">
							<div class="single_info">
								<div class="icon">
									<i class="fas fa-phone-alt"></i>
								</div>
								<div class="info">
									<p><a style="text-decoration: none;">+569 9296 9933</a></p>
								</div>
							</div>
							<div class="single_info">
								<div class="icon">
									<i class="fas fa-envelope"></i>
								</div>
								<div class="info">
									<p><a style="text-decoration: none;" href="https://mail.google.com/mail/?view=cm&to=satorreslisperguier@gmail.com" target="_blank">satorreslisperguier@gmail.com</a></p>
								</div>
								
							</div>
							<div class="single_info">
								<div class="icon">
									<i class="fas fa-map-marker-alt"></i>
								</div>
								<div class="info">
									<p>Roma 675, Casa 3<span>Villa Alemana,Valparaíso</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="copyright_text">
						<p>Copyright &copy; ÓPTICA ROIS 2023</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<div id="bottom"></div>
</body>
</html>

