<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/gracias.css">
        <title>Gracias por su compra</title>
    </head>
    <body>
        <div class="container">
            <h1>¡Gracias por su compra <%=name%>!</h1>
            <p>Su pedido ha sido procesado con éxito y se está preparando para el envío.</p>
            <a href="/">Volver a la página principal</a>
        </div>
    </body>
</html>
