        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
              <a class="navbar-brand" href="#!">Óptica Rois</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                  <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Inicio</a></li>
                  <li class="nav-item"><a class="nav-link" href="#!">Acerca de nosotros</a></li>
                  <% if(typeof isLoggedIn === 'undefined' || !isLoggedIn) { %>
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                </ul>
                <%}else { %>
                <li class="nav-item"><a class="nav-link greeting" style="color: red; font-weight: bold;" href="/profile">Hola, <%= user_name %></a></li>
                </ul>
                  </a>
                <form class="d-flex" action="/logout" method="post">
                    <input type="submit" class="btn btn-outline-dark mt-auto" value="Cerrar sesión" />
                    <button class="btn btn-outline-dark" type="submit">
                      <i class="bi-cart-fill me-1"></i>
                      Cart
                      <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                    </button>
                  <% } %>
                </form>
              </div>
            </div>
          </nav>